/*#demo{
    background-color: blue;
    color:rgb(255, 243, 224);
    text-align : center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}*/
.container{
    border: 3px solid rosybrown;
    display: flex;
    justify-content: space-evenly;
    gap : 10px;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row-reverse;
    
}
.box{
    height: 20vh;
    width: 10vw;
    background-color: coral;
    color:cornsilk;
    padding: 10px;
    margin: 10px;
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}