body{
    margin:30px;
    padding:0;
}

main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    gap:10px;
    border:3px solid black;
}

#myForm{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.inputs{
    padding:10px;
    border-radius: 50px;
    font-size: large;
}

#subBtn{
    padding:10px 20px;
    border-radius: 50px;
    font-size: large;
    border:none;
    color:white;
    background-color: green;
    &&:hover{
        background-color: aqua;
        color:brown;
    }
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;

}

.card{
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: blue;
    justify-content: center;
    flex-direction: column;
    border:1px dashed black;
    cursor:pointer;
    border-radius: 15px;

     &&:hover{
        background-color: rgb(147, 194, 52);
     }
}

.labels{
    color:rgb(213, 131, 31);
}