body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    border:7px solid black;
    background-color: aqua;
}

.container{
    border: 4px solid green;
    width:30%;
    height:50%;
     display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#formInputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#inp1,#inp2,#inp3{
    padding:4px;
    border:1px solid blue;
    border-radius:30px;
   
}