.main{
    display:flex;
    
    
    flex-direction:column;
    align-items: flex-start;
    align-items: center;
 padding:20px;
     height:50vh;
     width:50vw;
     border:20px solid black;
     

}

body{
    display:flex;
   justify-content:center ;
   align-items: center;

   background-image: url("image.png");
    background-size: cover;       /* image covers full screen */
    background-repeat: no-repeat; /* prevents repeating */
    background-position: center;
    background-attachment: fixed;
}

.spl{
    height:10vh;
    width:50vw;
    background-color: green;

    display:flex;
   justify-content:center ;
   align-items: center;
}