body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dark{
    color:white;
background-color: black;

}

.demoStyles{
   font-size:xx-large;
   font-weight:900;
}

.light{
    color: rgb(6, 1, 10);
    background-color: rgb(241, 222, 222);
}

.flex{
    display:flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
  align-items: center;
}

.btn1{
    padding:10px 15px;
    border-radius:50px;
    font-size:xx-large;
    background-color: rgb(36,36,160);
    color: white;
    font-weight:600;
}

.btn1:hover{
    background-color: rgb(185, 185, 228);
    cursor:pointer;
}